* {
  margin: 0;
}

h1, h2, h3, {
  margin-bottom: 10px;
}

html, body {
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  text-align: center;

}

nav a {
  text-decoration: none;
  margin-left: 20px;
  color: white;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;

}

footer {
  background-color: rgba(0,0,0,.5);
}

.section {
  height: 75%;
  /*background-color: blue;*/
}

.subsec {
  height: 25%;
  background-color: rgba(125, 224, 176, 1)
}

.subsec2 {
  height: 15%;
  background-color: rgba(193, 253, 255, 1)
}

.sec1 {
  background-image: url("http://cdn.pcwallart.com/images/california-tumblr-photography-palm-trees-wallpaper-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sec2 {
  background-image:url("http://www.10wallpaper.com/wallpaper/medium/1207/sea_rock-Beach_Landscape_Wallpaper_medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#mantra {
  font-size: 70px;
  text-align: center;
  padding-top: 150px;
  font-style: italic;
  font-family: cursive;
}

.logo {
  text-align: center;
  }


  h2 {
    font-style: italic;
    font-size: 45px;
    text-align: center;
    color: rgb(53, 65, 129);
    padding-top: 20px;
  }
